.Toastify__toast-container {
  top: 80px !important;
}

.page-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content-area {
  display: flex;
  flex: 1;
  margin-top: 70px;
}